.achievements-container {
    height: 60vh;
    width: 80%;
    margin: 5% auto;
    margin-bottom: 20%;
}

.carousel-wrapper {
    width: 100%;
    margin-top: 5%;
}

.img-container {
    height: 50vh;
    width: 100%;
    border-radius: 100px 0px 100px 0px;
}

.img-container>img {
    height: 100%;
    width: 100%;
    border-radius: 100px 0px 100px 0px;
    object-fit: cover;
}