.line-container {
    position: relative;
    width: 15%;
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1.5px solid #000;
}

.box-container {
    position: absolute;
    height: 1.5vh;
    width: 20%;
    margin: -1% auto;
    border-radius: 25px;
    background-color: #e63c22;
}